<h1>create a new 'What if... ?' proposition</h1>


<%= form_for @what_if, url: {action: "create"} do |f| %>
	<%= label_tag(:title, "title") %><br />
	<%= f.text_field :title %><br />
	<%= label_tag(:description, "description") %><br />
	<%= f.text_field :description %><br />
	<%= f.submit "create" %>
<% end %>