<h1>edit core m statement</h1>

<%= form_for @m_statement, url: {action: "update"} do |f| %>
	<%= label_tag(:title, "title") %><br />
	<%= f.text_field :title, placeholder: @m_statement.title %><br />
	<%= label_tag(:description, "description") %><br />
	<%= f.text_field :description, size: "60x12", placeholder: @m_statement.description %><br />
	<%= f.submit "edit" %>
<% end %>